<MudAppBar Elevation="0" Dense="false"> 
    <div class="d-flex justify-space-between mx-auto pa-6 mud-theme-secondary" style="width: 100%">
        <div>
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@(e => DrawerToggle())"/>
        </div>
        <div class="d-flex" justify-center>
            <MudNavLink>Link 1</MudNavLink>
            <MudNavLink>Link 2</MudNavLink>
            <MudNavLink>Link 3</MudNavLink>
        </div>
        <div>
            <MudMenu Icon="@Icons.Material.Filled.Person" Color="Color.Inherit" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
                <MudDivider/>
                <MudMenuItem Link="/account/signout" ForceLoad="true"><MudIcon Icon="@Icons.Material.Filled.Logout" Size="Size.Small"/> Esci</MudMenuItem>
            </MudMenu>
        </div>
    </div>
</MudAppBar>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}