<div class="top-nav-background">

    <div class="top-nav-container">
        <img src="Assets/Common/THB Logo.png" alt="THB Logo" class="thb-logo-image-container"/>

        <div class="top-nav-item">
            <NavLink class="top-nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        </div>

        <div class="top-nav-item">
            <NavLink class="top-nav-link" href="counter">About Us</NavLink>
        </div>

        <div class="top-nav-item">

            <NavLink class="top-nav-link" href="weather">Shop</NavLink>
        </div>


    </div>


</div>