@page "/"
@page "/home"

<div class="thb-background-image">

</div>

<div class="home-content">
    
    <div class="element-container">

        <div class="eepy-text-box">
            The Eepy EP - Out Now!

            <div class="eepy-text-box-subtitle">
                You should listen to it! Only if you want to, of course... but we'd really appreciate it.
            </div>

            <button class="eepy-listen-button">Listen now!</button>
        </div>

        @* <div class="eepy-text-box"> *@
        @*     The Eepy EP - Out Now! *@
        @* *@
        @*     <div class="eepy-text-box-subtitle"> *@
        @*         You should listen to it! Only if you want to, of course... but we'd really appreciate it. *@
        @*     </div> *@
        @* </div> *@
        
        <img src="Assets/Home/Eepy EP Cover.png" alt="The Eepy EP cover" class="content-image"/>
    </div>

    <div class="element-container">

        <img src="Assets/Home/Eepy Sam Callum Sorren.JPG" alt="A photo from the Eepy EP launch party" class="content-image"/>

        <img src="Assets/Home/James Green.JPG" alt="A photo from the Eepy EP launch party" class="content-image"/>
        
        
    </div>

    <div class="element-container">

        <div class="eepy-text-box">
            The Eepy EP - Out Now!

            <div class="eepy-text-box-subtitle">
                You should listen to it! Only if you want to, of course... but we'd really appreciate it.
            </div>
        </div>
    </div>
</div>